doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet', href='/static/css/style.css', type='text/css' )
    link(rel='stylesheet', href='/static/bootstrap/css/bootstrap-theme.css', type='text/css' )
    link(rel='stylesheet', href='/static/bootstrap/css/bootstrap.min.css', type='text/css' )
  body(class='container-fluid')
    div
      div.heading Wedding of Xiu Fen and Daniel 
      img(src='/static/images/header3.jpg' style="width:100%")
    //- div.heading RSVP
    div#instruction Please check the events you can attend. Should we missed someone, please add a "plus 1"
    div#cards(class="row")
      form(action='/web/invitation/rsvp/'+invitationID method='POST')
        div(class='col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1') 
          div.row
            each guest in guests
              div(class='col-md-2 col-sm-4' style='border-right:solid 1px gray')
                h3 #{guest.name} #{guest.surname}
                div
                  p 📧 #{guest.contact.email}
                  p 📱 #{guest.contact.phone}
                div#attending
                  h4 Attending
                  ul
                  each invited in guest.invitedto.sort()
                      case invited
                        when 'SG'
                          li
                            - var attendingSG = guest.attending.indexOf('SG')!=-1;
                            //- span #{attendingSG}
                            input(type='checkbox' checked=attendingSG name=guest.personID value='SG')
                            label(style='margin-left:5px') Singapore Reception
                        when 'SGS'
                          li
                            - var attendingSGS = guest.attending.indexOf('SGS')!=-1;
                            //- span #{attendingSGS}
                            input(type='checkbox' checked=attendingSGS name=guest.personID value='SGS') 
                            label(style='margin-left:5px') Singapore Solemnization
                        when 'DE'
                          li
                            - var attendingDE = guest.attending.indexOf('DE')!=-1;
                            //- span #{attendingDE} 
                            input(type='checkbox' checked=attendingDE name=guest.personID value='DE')
                            label(style='margin-left:5px') Germany
            div(class='col-md-2 col-sm-4' ) 
              h3
                a(href='/web/invitation/'+invitationID+'/addGuest') Add +1
        div(class='col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1')
          button(class="btn pull-right btn-default") Responde